import { ReactNode } from 'react';
import { Container } from './{{ camelCase name }}.styles';

export type {{ pascalCase name }}Props = {
  children?: ReactNode;
}

export const {{ pascalCase name }} = ({ children }: {{ pascalCase name }}Props) => {
  return (
    <Container>
      <h1>{{ pascalCase name }} component</h1>
      {children}
    </Container>
  );
};
